<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> {{ g.sitename }} - {{ g.siteslogan }}</title> 
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

  <body role="document">

<!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('home') }}">{{ g.sitename }}</a>
      </div>
      {% if session.logged_in %}
        <div id="navbar" class="navbar-collapse navbar-left collapse">
            <ul class="nav navbar-nav">
                <li {% if page == 'status' %} class=active {% endif %}><a href="{{ url_for('status') }}">Doorbell status</a></li>
                <li {% if page == 'log' %} class=active {% endif %}><a href="{{ url_for('log') }}">Doorbell logs</a></li>
            </ul>
        </div>
        {% endif %}
        <div id="navbar" class="navbar-collapse navbar-right collapse">
          <ul class="nav navbar-nav">
            {% if session.logged_in %}
            <li class="dropdown {% if page == 'administration' %} active {% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Administration<span class="caret"></span></a>
          
         <ul class="dropdown-menu" role="menu">
    {% if session["admin"] == True %}
                <li><a href="{{ url_for('add_news') }}">Add news</a></li>
                <li><a href="{{ url_for('add_user') }}">Add user</a></li>
            <li class="divider"></li>
                <li class="dropdown-header {% if page == 'administration' %} active {% endif %}">Management</li>
        {% endif %}
        <li><a href="{{ url_for('account') }}">Manage account</a></li>
          </ul>
{% endif %}
{% if not session.logged_in %}
    <li {% if page == 'login' %} class=active {% endif %}><a href="{{ url_for('login') }}">Log in</a></li>
{% else %}
    <li {% if page == 'login' %} class=active {% endif %}><a href="{{ url_for('logout') }}">Log out</a></li>
{% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category,message in messages: %}
            {% if not filter or category in filter %}
                <div class="alert 
                    {{ 'alert-danger' if category == 'error' }}
                    {{ 'alert-success' if category == 'success' }}
                    {{ 'alert-warning' if category == 'warning' }}
                    {{ 'alert-info' if category == 'info' }}">
                <a class="close" data-dismiss="alert" href="#">&#xd7;</a>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}
</div>
{% block body %}{% endblock %}
