{% extends "layout.html" %}
    {% block body %}
    <div class=container>

    {% if session.logged_in %}
    <div class="page-title">
        <h3>Live stream</h3>
    </div>
            <iframe align='middle' frameborder='0' name='stream' scrolling='no' width='640' height='480' src='{{ g.stream }}' seamless></iframe>
            <table class="table table-striped table-hover">
            <thead>
            <tr>
            <th>#</th>
            <th>Date</th>
            <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for logs in lastlogs %}
            <tr>
            <td>{{ loop.index }}</td>
            <td>{{ logs.date }}</td>
            <td>{{ logs.description }}</td>
            </tr>
            {% else %}
            <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            </tr>
            {% endfor %}
            </tbody>
            </table>

            {% else %}
            <div class="page-title">
                <h3> {{ g.sitename }} - {{ g.siteslogan }} </h3>
                </div>
                <p>Welcome! Please login to access further features</p>
                </div>
                {% endif %}
                {% endblock %}
