{% extends "layout.html" %}
{% block body %}
<div class=container>

    {% if session.logged_in %}
    <div class="page-title">
            <h3>Doorbell log</h3>
        </div>
        <table class="table table-striped table-hover">
                <thead>
                            <tr>
                                            <th>#</th>
                                                        <th>Date</th>
                                                                    <th>Action</th>
                                                                            </tr>
                                                                                </thead>
                                                                                {% for logs in doorlog %}   
                                                                                    <tbody>
                                                                                                <tr>
                                                                                                              <td>{{ loop.index }}</td>
                                                                                                                        <td>{{ logs.date }}</td>
                                                                                                                                  <td>{{ logs.action }}</td>
                                                                                                                                        </tr>
                                                                                                                                                {% else %}
                                                                                                                                                        <tr>
                                                                                                                                                                      <td>-</td>
                                                                                                                                                                                <td>-</td>
                                                                                                                                                                                          <td>-</td>
                                                                                                                                                                                                </tr>
                                                                                                                                                                                                    {% endfor %}
                                                                                                                                                                                                        </tbody>          
                                                                                                                                                                                                        {% else %}
                                                                                                                                                                                                           Please <a href="{{ url_for('login') }}">log in</a> to access this webpage.
                                                                                                                                                                                                           {% endif %}
                                                                                                                                                                                                           {% endblock %}
